<div class='main-title'>
	<h3>Post a Game, Find Subs</h3>
</div>

<div class='padded-container'>
	<%= form_for @sub_request do |f| %>

		<div class='input-container'>
			<div class='label-container'>
				<%= label_tag :number_of_subs, 'Number of Subs:', class: 'input-label' %>
			</div> 	
			<div class='field-container'>
				<div class='select-wrapper'>
					<%= select_tag :number_of_subs, options_for_select(['1','2','3','4','5','6']), class: 'section-select input-field' %>
				</div>
			</div>
		</div>

		<div class='input-container'>
			<div class='label-container'>
				<%= f.label :team_id, 'Team:', class: 'input-label' %>
			</div> 	
			<div class='field-container'>
				<div class='select-wrapper'>
					<%= f.select :team_id, options_for_select(@teams), {}, class: 'section-select input-field' %>
				</div>
			</div>
			<%= link_to 'Add a team?', '#', style: 'font-size:0.8rem;', class: 'add-team-link' %>
		</div>

		<div class='input-container'>
			<div class='label-container'>
				<%= label_tag 'Venue:', nil, class: 'input-label' %>
			</div> 	
			<div class='field-container'>
				<%= text_field_tag :venue, nil, class: 'venue input-field' %>
			</div>
		</div>

		<div class='input-container'>
			<div class='label-container'>
				<%= label_tag 'Venue Address:', nil, class: 'input-label' %>
			</div> 	
			<div class='field-container'>
				<%= text_field_tag :venue_address, nil, class: 'venue-address input-field' %>
			</div>
		</div>

		<div class='input-container'>
			<div class='label-container'>
				<%= label_tag 'Field/Rink/Gym:', nil, class: 'input-label' %>
			</div> 	
			<div class='field-container'>
				<%= text_field_tag :venue_specific, nil, class: 'venue-specific input-field' %>
			</div>
		</div>

		<div class='input-container'>
			<div class='label-container'>
				<%= f.label 'Start Time:', nil, class: 'input-label' %>
			</div> 	
			<div class='field-container'>
				<%= f.text_field :start_time, class: 'datetimepicker input-field' %>				
			</div>
		</div>

		<div class='submit-container'>
			<%= f.submit 'ADD', class: 'btn-submit' %>&nbsp;&nbsp;&nbsp;
		<% end %>
			<%= link_to 'CANCEL', root_path, 'style' => 'font-size:0.7rem;' %>
		</div>

</div>

<%= javascript_tag do %>

	$(function() {

		var team_data = <%= Venue.information_array.html_safe %>

		$('.venue').autocomplete({
			source: team_data,
			select: function( event, ui ) {
				$(this).val(ui.item.value);
				$('.venue-address').val(ui.item.address);

        return false;
      }
		});
	});

	$('.add-a-league').click( function() {
		$('.league-fields').removeClass('hidden');
	});

	$('.datetimepicker').datetimepicker();

	$('.add-team-link').on('click', function() {
		$('.settings-modal-state').prop('checked', true);
		$('#teams').click();
	});

<% end %>
