<% sub_requests.each do |sub_request| %>
	<div class='clickable-grid-container sub-in-container' data-id="<%= sub_request.id %>">
		<div class='cover hidden'></div>
		<div class='opening-icon-section'>
			<div class='sport-icon-container'>
				<%= image_tag "#{sub_request.sport.name.split(' ').join('_')}.png", width: '30', class: 'sport-image' %>
			</div>
		</div>
		<div class='opening-information-section'>
			<div class='opening-information'>
				<h3><strong><%= sub_request.sport.name.capitalize %></strong></h3>
				<h5><span style='text-decoration:underline;'><%= sub_request.venue.address %></span>, <%= sub_request.city.name %></h5>
				<h5><%= sub_request.start_time.strftime("%B %d, %Y at %l:%M%P") %></h5>
			</div>
		</div>
		<div class='opening-sub-in'>
			<%= link_to '#', id: sub_request.id, class: 'sub-in-button options-button' do %>
				<p style='font-size:1.1rem;'>$6.99</p>
				<p style='font-size:0.7rem;'>SUB IN</p>
			<% end %>
		</div>
	</div>
<% end %>
